dist/
__tests__/
.git/
.github/
.direnv/
flake.*
node_modules/
packages/daemon/dist/
packages/daemon/node_modules/
packages/common/node_modules/
# TODO: Improve the solution for both packages. This comment worsens the daemon
# packages/wallet-service
