*.log
.DS_Store
node_modules
dist
.env
.direnv/
coverage/
packages/daemon/dist
packages/daemon/node_modules
packages/common/node_modules
packages/wallet-service/node_modules
packages/wallet-service/.serverless
packages/wallet-service/.webpack
packages/wallet-service/.env*
.yarn/
