services:
  mysql:
    image: mysql
    networks:
      - database
    environment:
      MYSQL_ROOT_PASSWORD: hathor
    ports:
      - "3380:3306"

  unvoided_transaction:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "UNVOIDED_TRANSACTION",
      "--seed", "1"
    ]
    ports:
      - "8081:8080"
  reorg:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "REORG",
      "--seed", "1"
    ]
    ports:
      - "8082:8080"
  single_chain_blocks_and_transactions:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "SINGLE_CHAIN_BLOCKS_AND_TRANSACTIONS",
      "--seed", "1"
    ]
    ports:
      - "8083:8080"
  invalid_mempool_transaction:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "INVALID_MEMPOOL_TRANSACTION",
      "--seed", "1"
    ]
    ports:
      - "8085:8080"

  custom_scripts:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "CUSTOM_SCRIPT",
      "--seed", "1"
    ]
    ports:
      - "8086:8080"

  empty_script:
    image: hathornetwork/hathor-core:latest
    command: [
      "events_simulator",
      "--scenario", "EMPTY_SCRIPT",
      "--seed", "1"
    ]
    ports:
      - "8087:8080"

  nc_events:
    image: hathornetwork/hathor-core:stable
    command: [
      "events_simulator",
      "--scenario", "NC_EVENTS",
      "--seed", "1"
    ]
    ports:
      - "8088:8080"

  transaction_voiding_chain:
    image: hathornetwork/hathor-core:experimental-single-voided-create-token-tx
    command: [
      "events_simulator",
      "--scenario", "TRANSACTION_VOIDING_CHAIN",
      "--seed", "1"
    ]
    ports:
      - "8089:8080"

  voided_token_authority:
    image: hathornetwork/hathor-core:experimental-single-voided-create-token-tx
    command: [
      "events_simulator",
      "--scenario", "VOIDED_TOKEN_AUTHORITY",
      "--seed", "1"
    ]
    ports:
      - "8090:8080"

  single_voided_create_token_transaction:
    image: hathornetwork/hathor-core:experimental-single-voided-create-token-tx
    command: [
      "events_simulator",
      "--scenario", "SINGLE_VOIDED_CREATE_TOKEN_TRANSACTION",
      "--seed", "1"
    ]
    ports:
      - "8091:8080"

  single_voided_regular_transaction:
    image: hathornetwork/hathor-core:experimental-single-voided-create-token-tx-python3.12
    command: [
      "events_simulator",
      "--scenario", "SINGLE_VOIDED_REGULAR_TRANSACTION",
      "--seed", "1"
    ]
    ports:
      - "8092:8080"

  token_creation:
    image: hathornetwork/hathor-core:tit
    entrypoint: ["python", "-m", "hathor"]
    command: [
      "events_simulator",
      "--scenario", "TOKEN_CREATED",
      "--seed", "1"
    ]
    ports:
      - "8093:8080"

  token_created_hybrid_with_reorg:
    image: hathornetwork/hathor-core:tit
    entrypoint: ["python", "-m", "hathor"]
    command: [
      "events_simulator",
      "--scenario", "TOKEN_CREATED_HYBRID_WITH_REORG",
      "--seed", "1"
    ]
    ports:
      - "8094:8080"

networks:
  database:
